<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>GLSL</string>
	<key>uuid</key>
	<string>19A2247A-9DDE-40FD-8247-965E503A062B</string>
</dict>
</plist>
