<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>E66E7621-ECC8-4DA1-90E6-3D572B8A1CA1</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>E66E7621-ECC8-4DA1-90E6-3D572B8A1CA1</key>
			<dict>
				<key>items</key>
				<array>
					<string>CF9F64C7-81CD-4900-A498-4038C548889A</string>
					<string>139D84C0-7A36-4EC2-91CE-793142FCA2F6</string>
				</array>
				<key>name</key>
				<string>Declarations</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>GLSL</string>
	<key>ordering</key>
	<array>
		<string>D0FD1B52-F137-4FBA-A148-B8A893CD948C</string>
		<string>AFB74A85-DE9F-4775-843D-435BBA100649</string>
	</array>
	<key>uuid</key>
	<string>19A2247A-9DDE-40FD-8247-965E503A062B</string>
</dict>
</plist>
